---
title: АллегроТайм
---


#billboard
  .container
    #feedback-link
      %a.btn.btn-sm.btn-success{href: '/comments.html', target: '_blank'} Обратная связь
    .row
      .col-md-5
        %p.text-center
          = image_tag "phone-promo.png", width: 300, height: 766
      .col-md-7
        #promo-text
          %h1.brand АллегроТайм
          %p.concept Знает когда закрываются все переезды в Санкт-Петербурге и Ленобласти на проход поезда Аллегро
          %p.appstore-text
            %small Доступно для iPhone и iPad
          %p.appstore-badge
            %a{href:"https://itunes.apple.com/ru/app/allegrotajm/id524992172", target:"_blank"}
              = image_tag "appstore-badge.png", width: 270, height: 80


#screenshots
  .container
    .row
      = partial "screenshot", locals: { image_name: "w-screen-1-red.jpg", title: "Открыт ли переезд?" }
      = partial "screenshot", locals: { image_name: "w-screen-2.jpg", title: "Статус переездов" }
      = partial "screenshot", locals: { image_name: "w-screen-3-red.jpg", title: "Расписание переезда" }
      = partial "screenshot", locals: { image_name: "w-screen-4.jpg", title: "Расписание Аллегро" }
      = partial "screenshot", locals: { image_name: "w-screen-5.jpg", title: "Карта переездов" }
      = # partial "screenshot", locals: { image_name: "w-screen-6-all.jpg", title: "Работает на iPad" }

    .row
      .col-lg-12
        #copyright
          %p
            * Apple, логотип Apple, iPhone и iPod touch являются товарными знаками компании Apple Inc., зарегистрированными в США и других странах.
            App Store является знаком обслуживания, который принадлежит компании Apple Inc.

#support
  .container
    %p.text-center
      Если расписание переезда изменилось более чем на три минуты и вас это сильно беспокоит — пришлите мне фото синей таблички расположенной около переезда —
      = mail_to "allegrotime@yandex.ru"
      или
      = link_to "оставьте комментарий", '/comments.html', target: 'blank'

#footer
  .container
    %p
      &copy; 2012–2015 Дмитрий Сокуренко
      %br
      = mail_to "allegrotime@yandex.ru"
